@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  /* width: 375px; */
}

.bg-pattern {
  display: none;
}

img {
  width: 100%;
}

header .container {
  padding: 40px 24px 0;
  position: relative;
  overflow: hidden;
}

header .bg-image {
  position: absolute;
  width: 600px;
  top: -270px;
  right: -250px;
  z-index: -5;
}

header .logo {
  width: 146px;
}

header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #191826;
  margin-top: 64px;
}

header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  margin-top: 20px;
}

main .container {
  height: 600px;
  background-image: url('../assets/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: top;
  border-radius: 12px;
  background-color: #191826;
  color: #fcfaf9;
  margin-top: 166px;
  position: relative;
}

main .illustration {
  width: 209px;
  position: relative;
}

main .illustration img {
  position: absolute;
  left: 80px;
  top: -100px;
}

main .card {
  width: 100%;
  padding: 48px 36px;
  background-color: #fa7453;
  border-radius: 12px;
  position: absolute;
  bottom: -335px;
}

main .card h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

main .card .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 12px;
}

main .card .price {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  margin-top: 36px;
  margin-bottom: 32px;
}

main .card .price span {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

main .card .btn {
  width: 100%;
  padding: 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border: none;
  border-radius: 12px;
}

main .card .btn img {
  width: 17px;
  margin-right: 8px;
}

main .card .btn.apple {
  background-color: #191826;
  color: #fcfaf9;
}

main .card .btn.android {
  background-color: #fcfaf9;
  margin-top: 16px;
}

footer {
  margin-top: 390px;
}

footer .container {
  padding: 0 24px 80px;
}

footer .logo {
  width: 146px;
  margin-bottom: 32px;
}

footer .info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
}

footer .info a {
  font-weight: 700;
  color: #191826;
  text-decoration: none;
}

footer .socials {
  margin-top: 64px;
  display: flex;
}

/* footer .socials div {
  width: 20px;
  margin-right: 20px;
} */

footer .socials .facebook {
  mask: url('../assets/icon-facebook.svg');
}

footer .socials .instagram {
  mask: url('../assets/icon-instagram.svg');
}

footer .socials .twitter {
  mask: url('../assets/icon-twitter.svg');
  height: 17px !important;
}

footer .socials div {
  margin-right: 20px;
  mask-size: contain;
  width: 20px;
  height: 20px;
  background: #191826;
}

@media (min-width: 768px) {
  .container {
    max-width: 850px;
    /* width: 768px; */
  }

  .bg-pattern {
    display: block;
    position: absolute;
    width: 267px;
    top: -32px;
    right: -36px;
    z-index: -1;
  }

  header .container {
    padding: 62px 215px 249px 39px;
    position: relative;
    overflow: hidden;
  }

  header .bg-image {
    position: absolute;
    width: 1250px;
    top: -300px;
    right: -100px;
    z-index: -5;
  }

  header h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.7px;
    margin-top: 95px;
  }

  header p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 28px;
  }

  main .container {
    background-position: 229px -35px;
    margin-top: 0;
    width: 696px;
    margin: 0 auto;
  }

  main .illustration {
    width: 270px;
  }

  main .illustration img {
    left: 64px;
    top: -138px;
  }

  main .card {
    width: 399px;
    padding: 48px;
    bottom: -96px;
    right: 58px;
  }

  footer {
    margin-top: 183px;
  }

  footer .container {
    width: 696px;
    padding: 0 36px 85px;
    position: relative;
  }

  footer .logo {
    width: 146px;
    margin-bottom: 32px;
  }

  footer .info {
    width: 366px;
  }

  footer .socials {
    margin-top: 0;
    display: flex;
    position: absolute;
    bottom: 114px;
    right: 0;
  }

  footer .socials div:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
    width: 1440px;
  }

  .bg-pattern {
    top: -40px;
    right: 0;
  }

  header .container {
    padding: 62px 260px 321px 165px;
  }

  header .bg-image {
    position: absolute;
    width: 1900px;
    top: -270px;
    right: -180px;
    z-index: -5;
  }

  header h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-top: 127px;
  }

  header p {
    font-size: 20px;
    line-height: 34px;
    margin-top: 40px;
    width: 830px;
  }

  main .container {
    background-position: 336px -35px;
    background-size: 312px;
    width: 1110px;
  }

  main .illustration {
    width: 312px;
  }

  main .illustration img {
    left: 102px;
    top: -213px;
  }

  main .card {
    width: 446px;
    padding: 58px 59px 48px 54px;
    bottom: -115px;
    right: 95px;
  }

  main .card h2 {
    font-size: 40px;
    line-height: 52px;
  }

  main .card .desc {
    font-size: 20px;
    line-height: 34px;
    margin-top: 22px;
  }

  main .card .price {
    margin-top: 39px;
    margin-bottom: 46px;
  }

  main .card .btn.apple:hover {
    cursor: pointer;
    background-color: #66e2dc;
  }

  main .card .btn.android:hover {
    cursor: pointer;
    background-color: #ffb964;
  }

  footer {
    margin-top: 202px;
  }

  footer .container {
    width: 1110px;
    padding: 0 0 91px;
    position: relative;
  }

  footer .info {
    position: absolute;
    top: 0;
    left: 285px;
    width: 366px;
  }

  footer .socials div:hover {
    cursor: pointer;
    background: #fa7453;
  }
}
